{% extends "base.twig" %}
{% block body %}
<form action="new.save.php" method="POST">
{% include "points-to-spend.twig" %}
{% include "priorities.twig" %}
<br>
{% include "personal-data.twig" %}
{% include "attributes.twig" %}
{% include "qualities.twig" %}
{% include "skills-active.twig" %}
<input type="submit" value="Create character">
</form>
{% endblock %}
