* {
    box-sizing: border-box;
}

.priority {
    border: 1px solid #000000;
}

.priority td,
.priority th {
    cursor: pointer;
}

.priority td.selected {
    background-color: #b6d7a8;
    cursor: auto;
}

.priority th.selected {
    background-color: #ea9999;
    cursor: auto;
}

.priority input {
    display: none;
}

.priority .selected input {
    display: inline;
}

section {
    border: 1px solid #000000;
    margin-bottom: 1em;
    margin-top: 1.5em;
    padding-top: 1em;
    position: relative;
}

h1.legend {
    background-color: #ffffff;
    border: 1px solid #000000;
    left: 1em;
    position: absolute;
    top: -1.5em;
    z-index: 2;
}

input[readonly] {
    border: 0;
}

th {
    text-align: left;
}

section, table {
    width: 80%;
}

.points-to-spend {
    border: 1px solid #000000;
    position: fixed;
    right: 1%;
    top: 1%;
    width: 17%;
}

.meta-information {
    white-space: nowrap;
}
